* {
  font-family: "Raleway", sans-serif;
}
body{
  background-image: url(../img/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
:root {
  --radius: 5px;
}

 form{
 
  background-color: white;
  
  border-radius: var(--radius);
  padding: 35px ;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.02);
  width: 500px;
  
  
} 


div {
  display: grid;
  grid-auto-flow: row;

} 


h1{
  color: white;
  font-style: normal;
}
label {
  color: black;
  font-size: 1.5rem;
}

input[type="submit"] {
  background-color: rgb(158, 150, 150);
  border:15px;
  padding: 10px;
  border-radius: 10px;
}

.inputcolor{
  padding: 7px;
  
  border-radius: 10px;
 /* background-color: rgba(161,174,253,255);
  border: 2px solid rgba(161,174,253,255);*/
  
}

main{
  margin-top: 50px;
}
.inputall{
display: flex;
flex-direction: column;
text-align: left;
}