* {
  font-family: "Raleway", sans-serif;
}
body{
  background-image: url(../img/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #FFFFFF;
}
:root {
  --radius: 5px;
}

 form{
	display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: none;
  color: white;
  border-radius: var(--radius);
  padding: 30px;
}

h1{
  color: white;
  font-style: normal;
}
label {
  color: black;
}
.enviar{
  border-radius: 5px;
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 20%;
  background-color: rgb(32, 71, 96);
  color: black;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}
label{
  font-size: 1.5rem;
}
input{
  bacground:none;
}
