body{
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

main{
  
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
 
}

form{
    width: 600px;
    background-image: linear-gradient(#2C7DA0, #A7CFE6);
    background-color: #2C7DA0;
    
  color: white;
  border-radius: 5px;
 
  padding: 40px;
  
  box-shadow:5px 5px 5px 5px #ababab;
  opacity: .8;
  height: 850px;
  
  
  




  
}




input[type="submit"] {
    background-color: #013A63;
    border:15px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    width: 100%;
    margin-top: 10px;
    
  } 

  
  
  
  h1{
    
   
    font-style: normal;
    text-align: center;

   
  }
   label {
    
    font-size: 16px;
    padding-top: 5px;
  } 
  input{
    margin:  0;
    height: 40px;
    
  }
  .contenedorli{
 
   
    margin-bottom: 100px;
    
  }
  img{
    width: 130px;
    height: 100%;
    
  }
  .cajatitulo{
    display: flex;
   
    
    margin-left: 30px;
     height: 100px; 
     margin-top: 6px;
    
    
  
    
  }
  .cajah1{
    margin: auto;
  
    
    margin-right: 20px;
  }
  .imagen1{
   
    align-self: flex-start;
     
    
  }
 
  
   .inputcolor{
    padding: 7px;
    
    border-radius: 10px;
  
    
  } 
  
  
  .inputall{
  display: flex;
  flex-direction: column;
  text-align: left;
  }

